<!-- app/views/static/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Hello Rails React</title>
</head>
<body>
  <div id="root"></div> <!-- This is where your React app will be mounted -->
</body>
</html>
